<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Home Page <%= 'akwoakowaokwa'.toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum distinctio neque, nam, laborum dicta eos ea
    deserunt quia aspernatur fugiat, ratione magnam. Magni, obcaecati voluptatem cumque iusto non iste?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem laudantium itaque quasi corporis officia dignissimos
    at, quisquam veniam error. Tempore aliquam tempora impedit magnam, deleniti fugiat quae! Sit, commodi labore.</p>
</body>

</html>